#landing{
    height: 100vh;
    background-image: url("../assets/asset_2.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkslategray;
}
#landing .row{
    height: 100%;
}